@charset "utf-8";

@import url("reset.css");

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
    
    }
    
    @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
    }

* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;   
     font-family: 'Noto Sans KR', sans-serif !important;
} 

ol, ul {padding-left: 0 !important;}

.font-gy {color:#6c757d}
.font-rd {color:#ff0000}
.font-bl {color:#0397d6}
.bg-gy {background: #f3f3f3;}
.box-border {padding: 4% 3%;border: 1px solid #cbcbcb;}
.box-border-p {border: 1px solid #cbcbcb;}
.box-bl {text-align: center;padding: 18px;font-weight: bold;margin-bottom: 20px;background: #0397d6;color: #ffffff;}

.mt-100 {margin-bottom: 30px;margin-top: 74px;}
.mt-100::after {content: "";clear: both;display: block;}
.mtp-50 {margin-bottom: 0px;margin-top: 74px;}
.h-30 {height: 30px;}
.p-20 {padding: 20px 30px;}

.v-align {height: 50px;line-height: 50px;vertical-align: middle;text-align: right;}
.v-align::after {content: "";clear: both;display: block;}

.align-center {height: 130px;display: flex;align-items: center;justify-content: center;}/*가운데미들정렬*/
.align-center div {width: 100px;text-align: center;}
table a {color: #333;text-decoration: none;}
.mobile_gnb {display: none;}
.page-link {color: #333333 !important;}
.wd100 {width: 100%;}

.wrap {scroll-snap-type: y mandatory;}
.wrap > div {scroll-snap-align: center;} 

.main-title {font-size: 24px;color: #212529;font-weight: bold;text-align: center;}
.sub-title {font-size: 16px;color: #6c757d;text-align: center;}
.header{position: fixed;background: #ffffff;top: 0;left: 0;right: 0;z-index: 1000;height: 80px;padding: 0 70px;
  -webkit-transition: height .3s ease-in-out, background-color .3s ease-in-out, margin .3s ease-in-out;transition: height .3s ease-in-out, background-color .3s ease-in-out, margin .3s ease-in-out;overflow: hidden;box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 11%);
}
.header:before{display: block;position: absolute;top: 80px;left: 0;right: 0;height: 1px;background-color: #ddd;opacity: 0;content: "";-webkit-transition: opacity .2s ease-in-out;transition: opacity .2s ease-in-out;}
.header_inner{position: relative; min-width: 1120px; max-width: 1920px; height: 100%; margin: 0 auto;}
.header .logo{display: block;position: absolute;top: 25px;left: 0;width: 218px;height: 33px;-webkit-transition: background-image .3s ease-in-out;transition: background-image .3s ease-in-out;}
.header .util_box{position: absolute;top: 28px;right: 0;font-size: 0;}
.header .util_box li{float: left;width: 31px;height: 31px;margin-right: 10px;}
.header .util_box li:last-child img {width: 24px;}


.header.over {background-color: #fff;}
.header.over:before{opacity: 1;}
.header.over{height: 582px;box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);}

/* gnb */
.gnb_wrap{padding: 0 103px 0 170px; text-align: center;}
.gnb{display: inline-block;}
ul.dep1 {margin-bottom: 0;}
.gnb .dep1_li{display: inline-block;position: relative;height: 80px;padding: 32px 58px 0;}
.gnb .dep1_li:first-child{margin-left: 0;}
.gnb .dep1_link{display: inline-block;font-size: 14PX;-webkit-transition: color .2s linear;transition: color .2s linear;text-decoration: none;color: #161c2d;}
.gnb .dep1_link:before{display: block;position: absolute;top: 80px;left: 50%;width: 0;height: 2px;background-color: #009ade;content: "";-webkit-transform: translateX(-50%);transform: translateX(-50%);-webkit-transition: width .2s ease-in-out;transition: width .2s ease-in-out;}
.header.over .gnb .dep1_li.current .dep1_link{color: #10a0e0;}
.header.over .gnb .dep1_li.current .dep1_link:before{width: 100%;}
.gnb .dep2{width: 100%;position: absolute;top: 80px;left: 0;height: 400px;padding-top: 29px;opacity: 1;-webkit-transition: opacity 1ms 300ms;transition: opacity 1ms 300ms;}
.gnb .dep2_li{margin-top: 7px;}
.gnb .dep2_li:first-child{margin-top: 0;}
.gnb .dep2_link{display: inline-block;font-size: 16px;color: #161c2d;padding: 10px;text-decoration: none;-webkit-transition: color .2s linear;transition: color .2s linear;}
.gnb .dep2_link:hover{color: #009ade;}
.gnb a.dep2_link.current {color: #009ade;}
.gnb .dep3{width: 100%;height: auto;opacity: 1;-webkit-transition: opacity 1ms 300ms;transition: opacity 1ms 300ms;}
.gnb .dep3_li{text-align: left;margin-top: 1px;padding-left: 30px;}
.gnb .dep3_li:first-child{margin-top: 0;}
.gnb .dep3_link{display: inline-block;font-size: 14px;color: #7d8089;padding: 0 10px;text-decoration: none;-webkit-transition: color .2s linear;transition: color .2s linear;}
.gnb .dep3_link:hover{color: #009ade;}
.gnb a.dep3_link.current {color: #009ade;}
.header.fixed .gnb .dep1_link,
.header.over .gnb .dep1_link,
.header.openFull .gnb .dep1_link,
.header.fixed .link_lang,
.header.over .link_lang,
.header.openFull .link_lang{color: #161c2d;}
.header.over .gnb .dep2{display: block;}

/* gnb */
.mobile_gnb_list {width: 100%;height:100vh ;;background: #fff;}
.mobile_gnb_list .d-flex.align-items-start {}
.mobile_gnb_list div#v-tab {margin-left: 1rem;margin-right: 2rem!important;padding-top: 20px;height: 100vh;width: 127px;padding-right: 10px;border-right:1px solid #ddd;}

.mobile_gnb_list button {border: 0;background: #fff;font-size: 14px;color: #0f1d36;text-align: left;margin-bottom: 10px;}
.mobile_gnb_list button.active {color: #0f1d36;font-weight: bold;}

.mobile_gnb_list .dep2 {margin-top: 27px;}
.mobile_gnb_list .dep2 li {margin-bottom: 17px;}
.mobile_gnb_list .dep2 li a {color: #0f1d36;font-size: 16px;text-decoration:none;}

.mobile_gnb_list .dep3 {margin-top: 20px;margin-bottom: 20px;margin-left: 20px;}
.mobile_gnb_list .dep3 li a  {color: #6c757d;font-size: 14px;}

.mobile_gnb_list .list-group{width: 100px;float: left;}
.mobile_gnb_list .scrollspy-example {width: calc(100%-100px);float: left;}

.main-img {margin-top: 80px;width: 100%;position: relative;}
.main-img .img-main-wrap {width: 100%;height: 400px;background: url("../images/main_img_01.png") 50% 50% no-repeat;}
.main-img .container p{position: absolute;top: 40%;left: 0;right: 0;font-size: 20px;color: #ffffff;text-align: center;animation: subt_slidein .8s linear forwards;}
 
  @keyframes subt_slidein{
    from{
        margin-bottom:50px;
        opacity:0
    }
    to{
        margin-bottom:0;
        opacity:1
    }
}
.main-img .container p b {font-size: 32px;}

.img-sub-wrap {width: 100%;height: 313px;}
.about {background: url("../images/sub_img_about.png");}
.business {background: url("../images/sub_img_business.png");}
.products {background: url("../images/sub_img_products.png");}
.notice {background: url("../images/sub_img_notice.png");}
.asic {background: url("../images/sub_img_asic.png");}
.ami {background: url("../images/sub_img_ami.png");}
.smartmeter {background: url("../images/sub_img_smartmeter.png");}
.warer {background: url("../images/sub_img_warer.png");}
.img-footer {background: url("../images/sub_img_footer.png");}

.main-img .mt-40 {top: 122px !important;}

.main-thinking {width: 100%;margin: 100px 0 60px 0;}
.main-thinking ul {display: flex;margin-bottom: 50px;padding-left: 0;}
.main-thinking ul li {width: 33.3%;margin: 3% 6%;text-align: center;color: #6c757d;}
.main-thinking ul li img {width:100px;}

.tag {margin: 0 8%;text-align: center;}
.tag a {background: #dfdfdf;color: #939393;font-size: 14px;height: 14px;line-height: 34px;margin: 2px 2px;padding: 4px 13px;border-radius: 20px;text-decoration: none;}

.main-companyimg {width: 100%;padding-bottom: 100px;background: #f5f5f5;padding-top: 80px;}
.main-companyimg h5 {text-align: center;font-size: 18px;margin-bottom: 20px;}


.main-besiness {width: 100%;margin: 100px 0 60px 0;}
.main-besiness h6 {font-weight: bold;color: #161c2d;font-size: 18px;margin-left: 5px;}
.main-besiness ul.list {margin: 47px 0 200px 0;}
.main-besiness ul.list img {width: 100%;border-radius: 4px;}

.main-besiness ul.list ul {margin: 20px 0;}
.main-besiness ul.list ul li {margin-bottom: 8px;font-size: 15px;color: #6c757d;}

.business-list li i {width: 7px;height: 12px;display: inline-block;background: url("../images/arrow.svg") no-repeat;margin-right:5px;}

.main-news {width: 100%;margin-bottom: 150px;}
.main-news .main-title {text-align: left;}
.main-news .sub-title {text-align: left;font-size: 14px;}
.main-news .btn-go {color: #212529;font-size: 14px;text-decoration: none;}

.main-news-list li {height: 83px;margin-bottom: 10px;border-bottom:1px solid #eeeeee;}
.main-news-list li .date {width: 100px;float: left;}
.main-news-list li .date .day {display: block;font-size: 18px;height: 40px;line-height: 40px;color: #0099cc;font-weight: bold;text-align: center;}
.main-news-list li .date .yrmt {display: block;font-size: 14px;color: #adadad;text-align: center;}
.main-news-list li .title {float: left;width: calc(100% - 200px);}
.main-news-list li .title p{margin-bottom: 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;}
.main-news-list li .title p:first-child {font-size: 18px;font-weight: bold;margin-top: 7px;margin-bottom: 7px;}
.main-news-list li .title p:last-child {font-size: 14px; color: #bec1c4;}
.main-news-list li .add-btn {width: 100px;float: right;text-align: center;margin-top: 28px;}
.main-news-list li .add-btn img {width: 22px;}


footer {background: #333333;}
.footer_link {border-bottom:1px solid #414141;padding: 40px 0;}
.footer_link ul {margin-bottom: 0;}
.footer_link li {float: left;margin-right: 40px;height: 40px;line-height: 40px;}
.footer_link li a {font-size: 16px;color: #bcbcbc;text-decoration: none;}
.footer_link img {width: 14px;margin: -4px 0 0 6px;}
.f-logo {display: flex;flex-direction: row;justify-content: flex-end;}
.f-logo img {width: 275px;}
.copyright {padding-bottom: 20px;margin: 40px 0 0 0;color: #dee2e6;font-size: 14px;}
.copyright li:last-child {color:#989b9d;margin: 20px 0;}

.breadcrumb-nav {border-top: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;height: 65px;}
.breadcrumb-item {height: 65px;line-height: 65px;}
.breadcrumb-item, .breadcrumb-item a {text-decoration: none;color: #6c757d;font-size: 14px;font-family: 'Noto Sans KR', sans-serif !important;}
.breadcrumb-item .home-icon {width: 16px;height: 16px;display: inline-block;vertical-align: middle;margin-top: -4px;margin-right: 10px;background: url("../images/icon-home.svg");}
.breadcrumb-item+.breadcrumb-item::before {width: 19px;height: 16px;content:" "!important;background: url("../images/arrow_location.svg") 0 1px no-repeat;margin-top: 25px;}



.company {background: url("../images/company_bg.png");padding-top: 65px;}
.company .icon {width: 60px;padding-top: 40px;margin: 0 auto;}
.w-box {background: #ffffff;}
.main-sub-cont h4 {margin-top: 73px;font-weight: bold;word-wrap: break-word;}
.main-sub-cont p {margin-top: 20px}

.company p {font-weight: bold;text-align: center;margin-bottom: 40px;}
.company .w-box {height: 390px;margin-bottom: 63px;}
.company ol {font-size: 14px;padding-left: 20px !important;color: #6c757d;}


.history.tab .tab-content {height: 450px;margin-top: 50px;margin-bottom: 50px;}
.history li.nav-item {width: 25%;}
.history .nav-tabs .nav-link {width: 100%;}
.history button p {margin: 5px;text-align: left;}
.history button p:first-child {font-size: 18px;}
.tab-history-list {margin-top: 20px;width: 100%;padding-left: 20px !important;}
.tab-history-list:before {position: absolute;top: 15px;bottom: 0;left: 14px;content: '';width: 1px;background-color: #e4e8eb;}
.history .col-xl-6.col-md-12 {position: relative;}
.year {font-size: 18px;width: 100px;color: #333333;font-weight: bold;float: left;}
.year::before{position: absolute;top: 33px;left: 11px;background-color: #20d782;display: inline-block;width: 6px;height: 6px;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: top;content: '';}
.year_list_wrap {margin-bottom: 20px;float: left;width: calc(100% - 100px);}

.orange, .green, .grey, .blue {height: 97px;border-radius: 4px;}
.orange {background: #f2a41e;}
.green {background: #bfd600;}
.grey {background: #666666;}
.blue {background: #0099cc;}

.box-wrap {position: relative;}
.box-wrap h5 {height: 40px;line-height: 40px;margin-bottom: 14px;}
.box-wrap h5 span {font-size: 14px;margin-left: 10px;}
.btn-wrap {position:absolute;top:0;right: 0;}
.box-wrap .col-xl-4 {text-align: center;vertical-align: middle;}
.button {border: 1px solid #cccccc;background: #fff;padding: 7px 27px;} 
.button svg {margin-right: 10px;}

ul#myTab {padding-right: 0 !important;}
.nav-tabs {border-left: 1px solid #cdcdcd;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {background-color: #fff;border-color: #007fff #007fff #0d6efd !important;color: #0180ff !important;}
.nav-tabs .nav-link {border-color: #cdcdcd #cdcdcd #cdcdcd transparent !important;border-radius: 0 !important;color: #333333;}
.patent .ul#myTab {flex-wrap: nowrap;}
.patent li.nav-item {width: 33.33333%;}
.patent .nav-tabs .nav-link {width: 100%;}
.patent .tab-content {height: 550px;margin-bottom: 50px;}

.kepco .ul#myTab {flex-wrap: nowrap;}
.kepco .nav-tabs .nav-link {width: 100%;}
.kepco  li.nav-item {width: 50%;}

table {width: 100%;margin-top: 20px;margin-bottom: 20px;border-top:2px solid #cccccc;}
table tr td {border-bottom:1px solid #eeeeee;padding: 20px 8px;}
table tr th {border-bottom:1px solid #eeeeee;background: #f6f6f6;padding: 20px 5px ;text-align: center;}

.notice-wrap {margin-top: 20px !important;margin-bottom: 50px;border-bottom: 1px solid #ddd;}
.notice-wrap .title {background: #0f1d36;border-radius: 4px;color: #fff;display: inline-block;padding: 2px 5px;font-size: 12px;margin-bottom: 5px;}
.notice-wraph3 {font-size: 24px;}
.notice-wrap .date {font-size: 14px;margin-bottom: 25px;}
.notice-wrap .notice-cont {font-size: 16px;margin-bottom: 80px;}


.notice-footer {margin-bottom: 50px;}
.notice-footer::after {content: "";clear: both;display: block;}
.notice-footer .pagenation-wrap {float: left;}
.notice-footer .search-wrap {float: right;}
.notice-footer .search-wrap input {width: 200px;float: left;margin-right: 20px;}
.notice-footer .search-wrap button {float: right;}
.notice-footer .search-wrap button:first-child {margin-left: 10px;}


.news.main-sub-cont p {margin-top: 0;}

.year_list {font-size: 14px;}
.year_list li {height: 28px;}

.grid {position: relative;padding: 85px 10px 60px 10px;margin: 0 auto;display: flex;justify-content: space-evenly;}
.grid::after {position: absolute;top: 65px;right: 80px;left: 46px;content: '';height: 1px;background-color: #e3e3e3;}
.grid .section {width:15%;float: left;text-align: center;margin-bottom: 30px;position: relative;}
.grid .section h5::before {position: absolute;top: -22px;left: 50%;background-color: #d9d9d9;display: inline-block;width: 6px;height: 6px;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: top;content: '';} 
.grid .section h5 {font-size: 16px;text-align: center;}
.grid .section h5::before 
.grid .section img {width: 45px !important;;}
.grid .section title {display: block;text-align: center;font-size: 16px;margin-bottom: 14px;}
.grid .section .arrow-list li {font-size: 14px;text-align: left;}

.arrow-list {margin-bottom: 0px;}
.arrow-list li {margin-bottom: 4px;}
.arrow-list li:last-child {margin-bottom: 0px;}
.arrow-list li::before {content: "";width: 7px;height: 12px;margin-top: 6px;display: inline-block;background: url(../images/arrow.svg) no-repeat;margin-right: 6px;}

.icon_wrap {text-align: center;}
.icon_wrap img {width: 70px;}

.map-wrap {height: 30px;margin-top: 16px;margin-bottom: 200px;}
.map-wrap .adress {background: url(../images/geo-alt.svg) 0px 5px no-repeat;padding-left: 20px;height: 30px;float: left;}
.map-wrap .tel {float: right;background: url(../images/telephone-fill.svg) 0 4px no-repeat;padding-left: 20px;}

.logo_top-wrap {height: 83%;margin-top: 35px;display: flex;align-items: center;justify-content: center;}
.logo_top-wrap img {width: 200px;height: 127px;}
.list-rd {margin-top: 35px;}
.list-rd li {border-radius: 38px;padding: 16px;border: 1px solid #d2d2d2;margin-bottom: 16px;text-align: center;}

.apart-point img {width: 100%;}
.apart-point p {text-align: center;}

.box-border-p p {margin-bottom: 0;text-align: center;border-bottom: 1px solid #ebebeb;height: 45px;}
.box-border-p ul {margin-bottom: 0;padding: 4% 3% !important;}
.box-border-p ul li {margin-bottom: 4px;}
.box-border-p ul li span {float: right;}
.box-border-p .arrow-list {height: 117px;}

.mobile_gnb.out {display: none;}

@media (max-width: 995px) {
  .dep1 {display: none;}
  .header {padding: 0;overflow: inherit;height: 60px;}
  .header .logo {left: 20px;top: 17px;width: 160px;}
  .main-img {margin-top: 60px;}
  .mobile_gnb {display: block;}
  .mobile_gnb .list-menu-btn {position: absolute;top: 16px;right: 20px;width: 24px;}
  .mobile_gnb .list-menu-btn a {width: 24px;}
}

@media (max-width: 1270px) {
  .grid .section { width: 33.3%;}
}

@media (max-width: 768px) {
.main-img .img-main-wrap {
    height: 200px;
}

}